<div *ngIf="toDo">
    <h3>
        To Do: {{toDo.toDoName | uppercase}}
    </h3>
    <div>
        <span>id: </span>{{toDo.id}}
    </div>
    <div>
        <form id="formUpdate" name="formUpdate" #toDo = "ngForm" (ngSubmit) = "updateToDo(toDo.value)">
            <label>
                <input id="toDoName" [(ngModel)]="toDo.toDoName" placeholder="Name"/>
            </label>
            <label>
                <input id="description" [(ngModel)]="toDo.description" placeholder="Description"/>
            </label>
            <label>
                <input id="dateTime" [(ngModel)]="toDo.dateTime" placeholder="Date AndOr Time "/>
            </label>
            <label>
                <input id="priority" [(ngModel)]="toDo.priority" placeholder="Priority"/>
            </label>
            <label>
                <input id="status" [(ngModel)]="toDo.status" placeholder="Status"/>
            </label>
            <input type="submit" value = "Update"/>
        </form>
    </div>
</div>