<div *ngIf="toDo">
    <h3>
        To Do: {{toDo.toDoName | uppercase}}
    </h3>
    <div>
        <span>id: </span>{{toDo.id}}
    </div>
    <div>
        <form id="formUpdate" name="formUpdate" #updateToDoForm="ngForm" (ngSubmit)="onSubmit(updateToDoForm.value)">
            <label>
                <input type="hidden" id="id" name="id" [(ngModel)]="toDo.id" placeholder="Id"/>
            </label>
            <label>
                <input id="toDoName" name="toDoName" [(ngModel)]="toDo.toDoName" placeholder="Name"/>
            </label>
            <label>
                <input id="userId" name="userId" [(ngModel)]="toDo.userId" placeholder="User Id"/>
            </label>
            <label>
                <input id="description" name="description" [(ngModel)]="toDo.description" placeholder="Description"/>
            </label>
            <label>
                <input id="dateTime" type="date" name="dateTime" [(ngModel)]="toDo.dateTime" placeholder="Due Date" useValueAsDate>
            </label>
            <label>
                <select id="priority" name="priority" [(ngModel)]="toDo.priority">
                    <option selected="low" value="Low"> Low </option>
                    <option selected="normal" value="Normal"> Normal </option>
                    <option selected="high" value="High"> High </option>
                    <option selected="critical" value="Critical"> Critical </option>
                </select>
            </label>
            <label>
                <select id="status" name="status" [(ngModel)]="toDo.status">
                    <option selected="pending" value="Pending"> Pending </option>
                    <option selected="in progress" value="In Progress"> In Progress </option>
                    <option selected="submitted" value="Submitted"> Submitted </option>
                </select>
            </label>
            <button type="button" (click)="deleteToDo(updateToDoForm.value)">Delete</button>
            <input type="submit" value = "Update"/>
        </form>
    </div>
</div>