<div style="text-align:center">  
  <h2>To Do</h2> 
</div>

<div style="text-align:center">
    <form id="formAdd" name="formAdd" #addToDoForm="ngForm" (ngSubmit)="onSubmit(addToDoForm.value)">
        <label>
            <input id="toDoName" name="toDoName" placeholder="Name" ngModel/>
        </label>
        <label>
            <input id="userId" name="userId" placeholder="User Id" ngModel/>
        </label>
        <label>
            <input id="description" name="description" placeholder="Description" ngModel/>
        </label>
        <label>
            <input id="dateTime" type="date" name="dateTime" placeholder="Due Date" useValueAsDate ngModel>
        </label>
        <label>
            <select id="priority" name="priority" placeholder="Normal" ngModel>
                <option selected="low" value="Low"> Low </option>
                <option selected="normal" value="Normal"> Normal </option>
                <option selected="high" value="High"> High </option>
                <option selected="critical" value="Critical"> Critical </option>
            </select>
        </label>
        <label>
            <select id="status" name="status" placeholder="In Progress" ngModel>
                <option selected="pending" value="Pending"> Pending </option>
                <option selected="in progress" value="In Progress"> In Progress </option>
                <option selected="submitted" value="Submitted"> Submitted </option>
            </select>
        </label>
        <input type="submit" value = "Add"/>
    </form>
</div>

<ul>
  <li *ngFor="let toDo of toDos"
    [class.selected]="toDo === selectedToDo"
    (click)="onSelect(toDo)">
    <h4>
      <span class="badge">
        {{toDo.id}}
      </span>
      . To Do: {{toDo.toDoName}}
    </h4> 
    <h5>
      Description: {{toDo.description}}
    </h5>
  </li>
</ul>

<app-todo-detail [toDo] = "selectedToDo"></app-todo-detail>